In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train_data = pd.read_csv("train_values.csv", delimiter=',')

In [3]:
train_data.head(10)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0
5,333020,8,558,6089,2,10,9,5,t,r,...,1,0,0,0,0,0,0,0,0,0
6,728451,9,475,12066,2,25,3,4,n,r,...,0,0,0,0,0,0,0,0,0,0
7,475515,20,323,12236,2,0,8,6,t,w,...,0,0,0,0,0,0,0,0,0,0
8,441126,0,757,7219,2,15,8,6,t,r,...,0,0,0,0,0,0,0,0,0,0
9,989500,26,886,994,1,0,13,4,t,i,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train_labels = pd.read_csv("train_labels.csv", delimiter=",")

In [5]:
damage_grade = train_labels['damage_grade']

In [6]:
train_data['damage_grade'] = damage_grade

In [7]:
train_data.head(15)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,3
5,333020,8,558,6089,2,10,9,5,t,r,...,0,0,0,0,0,0,0,0,0,2
6,728451,9,475,12066,2,25,3,4,n,r,...,0,0,0,0,0,0,0,0,0,3
7,475515,20,323,12236,2,0,8,6,t,w,...,0,0,0,0,0,0,0,0,0,1
8,441126,0,757,7219,2,15,8,6,t,r,...,0,0,0,0,0,0,0,0,0,2
9,989500,26,886,994,1,0,13,4,t,i,...,0,0,0,0,0,0,0,0,0,1
10,7962,17,1119,12188,2,20,9,6,t,r,...,0,0,0,0,0,0,0,0,0,3
11,452227,17,1275,4004,1,10,8,4,t,u,...,0,0,0,0,0,0,0,0,0,2
12,444381,12,335,8167,2,15,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
13,287845,17,817,6284,3,45,7,7,t,r,...,0,0,0,0,0,0,0,0,0,3
14,605134,18,1295,6994,2,25,7,6,t,r,...,0,0,0,0,0,0,0,0,0,3

In [8]:
categorical_search = train_data['plan_configuration'] == 'u'
#categorical_search = train_data['has_secondary_use_use_police']

In [9]:
categorical_search.sum()

3649

In [10]:
categorical_df = train_data[categorical_search]

In [11]:
categorical_subdf = categorical_df[['building_id', 'damage_grade']]

In [12]:
categorical_subdf.head(10)

     building_id  damage_grade
7         475515             1
57        552720             2
114       533100             1
283       290507             3
343        11718             2
362       363074             1
431       138623             2
439       873535             2
579       702616             2
587       469204             1

In [13]:
feature = 'count_floors_pre_eq'
print(train_data[feature].describe())

count    260601.000000
mean          2.129723
std           0.727665
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           9.000000
Name: count_floors_pre_eq, dtype: float64

In [14]:
categorical_subdf.groupby('damage_grade').count()

              building_id
damage_grade
1                     774
2                    2399
3                     476

In [15]:
selected_features = ['age', 'count_floors_pre_eq']

In [16]:
visualization_subset = train_data[selected_features]

In [17]:
train_data.columns

Index(['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other',
       'damage_grade'],
      dtype='object')

In [18]:
train_data.columns.tolist()[26:]

['legal_ownership_status',
 'count_families',
 'has_secondary_use',
 'has_secondary_use_agriculture',
 'has_secondary_use_hotel',
 'has_secondary_use_rental',
 'has_secondary_use_institution',
 'has_secondary_use_school',
 'has_secondary_use_industry',
 'has_secondary_use_health_post',
 'has_secondary_use_gov_office',
 'has_secondary_use_use_police',
 'has_secondary_use_other',
 'damage_grade']

In [19]:
drop_columns = train_data.columns.tolist()[26:]
dropped_data = train_data.drop(drop_columns, axis=1)

In [20]:
dropped_data = pd.get_dummies(dropped_data)

In [21]:
dropped_data.head(15)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,plan_configuration_a,plan_configuration_c,plan_configuration_d,plan_configuration_f,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u
0,802906,6,487,12198,2,30,6,5,1,1,...,0,0,1,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,0,1,...,0,0,1,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,0,1,...,0,0,1,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,0,1,...,0,0,1,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,1,0,...,0,0,1,0,0,0,0,0,0,0
5,333020,8,558,6089,2,10,9,5,0,1,...,0,0,1,0,0,0,0,0,0,0
6,728451,9,475,12066,2,25,3,4,0,1,...,0,0,1,0,0,0,0,0,0,0
7,475515,20,323,12236,2,0,8,6,0,0,...,0,0,0,0,0,0,0,0,0,1
8,441126,0,757,7219,2,15,8,6,0,1,...,0,0,1,0,0,0,0,0,0,0
9,989500,26,886,994,1,0,13,4,0,0,...,0,0,1,0,0,0,0,0,0,0
10,7962,17,1119,12188,2,20,9,6,0,1,...,0,0,1,0,0,0,0,0,0,0
11,452227,17,1275,4004,1,10,8,4,0,0,...,0,0,1,0,0,0,0,0,0,0
12,444381,12,335,8167,2,15,6,5,0,1,...,0,0,1,0,0,0,0,0,0,0
13,287845,17,817,6284,3,45,7,7,0,1,...,0,0,1,0,0,0,0,0,0,0
14,605134,18,1295,6994,2,25,7,6,0,0,...,0,0,1,0,0,0,0,0,0,0

In [23]:
import xgboost as xgb

In [24]:
y = train_labels['damage_grade']

In [25]:
X = dropped_data

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
housing_dmatrix = xgb.DMatrix(data=X,label=y)

In [28]:
model = xgb.XGBClassifier()

In [29]:
model.fit(X, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [30]:
test_data = pd.read_csv("test_values.csv", delimiter=",")

In [32]:
test_data.columns.tolist()[26:]

['legal_ownership_status',
 'count_families',
 'has_secondary_use',
 'has_secondary_use_agriculture',
 'has_secondary_use_hotel',
 'has_secondary_use_rental',
 'has_secondary_use_institution',
 'has_secondary_use_school',
 'has_secondary_use_industry',
 'has_secondary_use_health_post',
 'has_secondary_use_gov_office',
 'has_secondary_use_use_police',
 'has_secondary_use_other']

In [34]:
test_drop = test_data.columns.tolist()[26:]
test_dropped_data = test_data.drop(test_drop, axis=1)

In [35]:
test_dropped_data =  pd.get_dummies(test_dropped_data)

In [37]:
predicted = model.predict(test_dropped_data)

In [38]:
building_id = test_data['building_id']

In [40]:
submission_df = pd.DataFrame({'building_id': building_id, 'damage_grade':predicted})

In [45]:
submission_df.to_csv('submission.csv', index=False)